* {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #161623;
  }
  

  
  .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
  }
  .container .card {
    position: relative;
    width: 300px;
    height: 275px;
    background: rgba(255, 255, 255, 0.05);
    margin: 2rem 6rem ;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    cursor: pointer;
  }
  .container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
  }
  .container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
  }
  .container .card .content .icon {
    position: relative;
    transform:translateY(-1rem);
  }
  
  .container .card .content .contentBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
  }
  
  