<!DOCTYPE html>
<html>
  <head>
    <title>Transparent card</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/36bed4b74a.js" crossorigin="anonymous"></script>
    <link href="../static/css/NearestHospital.css" rel="stylesheet">
    
  </head>
  <body onload = "AddHospitals();">
    <section>
      <div class="container" id="Hospitals">
      </div>
      <div class="modal" id="popup">
        <div class="confirm">
          <h3>Your request has been sent.<br><br>The concerned hospital will<br>get back to you.</h3>
          <button id="ConfirmSubmit" class="btn">Confirm</button>
        </div>
        
      </div>
    </section>
    
  </body>
  <script src="../static/JavaScript/NearesHospital.js"></script>
</html>
