<!DOCTYPE html>
<html>
  <head>
    
    <script src="https://kit.fontawesome.com/36bed4b74a.js" crossorigin="anonymous"></script>
    <title>SElect Organ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/JavaScript/SelectOrgan.js" defer></script>
    <link href="../static/css/Select_Organ.css" rel="stylesheet">
    
  </head>
  <body>
    <section>
      <h1>Select Required Organ</h1>
      <div class="container" id="Organ_Select_List">
    
      </div>
    </section>
  </body>
</html>
