<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/36bed4b74a.js"
      crossorigin="anonymous"
    ></script>
    <title>SElect Organ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="../static/css/Select_Organ.css" rel="stylesheet" />
  </head>
  <body>
    <section>
      <h1>Select Required Organ</h1>
      <div class="container" id="Organ_Select_List"></div>
    </section>
    <script src="../static/JavaScript/SelectOrgan.js"></script>
    <script>
      var Cards = document.querySelectorAll(".card");
      Cards.forEach((card) => {
        card.addEventListener("click", () => {
          let HospitalIndex = getCookie("User");
          let OrganName = card.classList[1];
          console.log(OrganName);
          const dict_values = { OrganName, HospitalIndex }; //Pass the javascript variables to a dictionary.
          const s = JSON.stringify(dict_values); // Stringify converts a JavaScript object or value to a JSON string
          $.ajax({
            url: "/OrganRequest",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(s),
            success: function(){
                window.location.href = "{{url_for('NearestHospital')}}";
            }
          });
        });
      });
    </script>
  </body>
</html>
