<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Update_Form.css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/JavaScript/addmore.js" defer></script>
    <script src="../static/JavaScript/Update_DataBase_Popup.js" defer></script>
</head>

<body >
    <div class="form-container">
        <form action="popup.php" method="POST" class="form">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Hospital Name *" tabindex="1"
                    >
            </div>
            <div id ="OrganList">
            </div>
            
            <div>
                <button type="submit" class="btn" id="submitBtn" onclick="Pop();">Submit</button>
                
            </div>
        </form>
        <script>
            //Prevent resubmission

            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
    </div>
    <div class="modal" id="popup">
        <div class="confirm" id="ConfirmPreview"> 
            <h2 class = "title">Confirm Details</h2>
            
        </div>
    </div>
</body>

</html>